@model BugTracker.Models.ContactMsg


<div class="row">
    <div class="col-lg-12">
        <h2>Contact me</h2>
        <h4>Like what you see?</h4>
        <br />
        <p>Please feel free to check out my source code on github <a href="https://github.com/DougSchultz679/BugTrackerMVC">here</a>.</p>
        <p>You can find me on LinkedIn <a href="https://www.linkedin.com/in/douglas-schultz-1a95462b/">here</a>.</p>
        <br />
        <p> You can also contact me directly via the form below! Looking forward to heard from you.</p>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        @using (Html.BeginForm("ContactSend", "Home"))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FromName, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FromName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FromName, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.FromEmail, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FromEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FromEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FromEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-1" })

                    <div class="col-md-10">
                        @Html.TextAreaFor(model=>model.Body , new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="text" name="Dummy" value="" hidden />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

